@import 'components/reset';
@import 'components/header';
@import 'components/hero';
@import 'components/features';
@import 'components/ecommerce';
@import 'components/portfolio';
@import 'components/contact';
@import 'components/footer';


:root {
  --font-primary: "Wix Madefor Display", sans-serif;
  --color-background: #d8e9f3;
  --color-primary: #121214;
  --color-secondary: #8986ff;
  --color-text: #4d546f;
  --color-highlight: #b3fd81;
  --color-button-bg: #000;
  --color-button-hover: #4c84ff;
}

html {
  scroll-behavior: smooth;
}

* {
  font-family: var(--font-primary);
}

body {
  font-family: var(--font-primary);
  font-size: 1rem;
  font-weight: 400;
  color: var(--color-primary);
}

input,
textarea {
  font-family: var(--font-primary);
  transition: box-shadow 0.2s ease, transform 0.2s ease;
  padding: 16px 33px;
  border-radius: 999px;
}

h1 {
  font-size: 56px;
  line-height: 50px;
}

p {
  font-weight: 500;
  color: var(--color-text);
  font-size: 1.4rem;
  line-height: 1.2;
}

button {
  font-family: var(--font-primary);
  padding: 16px 33px;
  background: black;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  transition: box-shadow 0.2s ease, transform 0.2s ease;
  cursor: pointer;
  border-radius: 999px;

}

button:hover {
  box-shadow: 7px 5px 56px -14px var(--color-button-hover);
}

button:active {
  transform: scale(0.97);
  box-shadow: 7px 5px 56px -10px var(--color-button-hover);
}

@media (max-width: 700px) {
  .menu {
    display: none;
  }
}