section.ecommerce-section
    .ecommerce-content
        .text-content
            h2.title-content
                span Aumente
                |  seus resultados com o Google
            p
                | Mais de 90% dos possíveis clientes pesquisam sobre seu serviço no Google. Não perca a chance de aumentar o seu faturamento.
            a(href="https://api.whatsapp.com/send?phone=5511989725290&text=Contato%20via%20site.")
                button.btn-primary Solicitar Orçamento
        .image-content
            img(src="./assets/ecommerce/people.png" alt="Equipe trabalhando em SEO")
