section.ecommerce-section
    .ecommerce-content
        .image-content
            img(src="./assets/entrepreneur/people.png" alt="Transformação digital")
        .text-content
            h2.title-content
                | Seja 
                span King
                | ! Seja Web
            p
                | Empreendedores que colocam sua empresa na internet experimentam um crescimento exponencial. Transforme seu negócio hoje mesmo.
            a(href="https://api.whatsapp.com/send?phone=5511989725290&text=Contato%20via%20site.")
                button.btn-primary Solicitar Orçamento