section#features.feature-section
    .feature-content
        h2.title-content
            | Somos 
            span especialistas
            |  em criar sites e lojas virtuais
        p
            | Desenvolvemos designs exclusivos que combinam alta performance, SEO otimizado e análise detalhada de resultados.
    .feature-cards
        .card
            img(src="./assets/features/icon1.png" alt="Desenvolvimento de projetos web")
            h3 Desenvolvimento de projetos web
            p Criação de sites, landing pages, blogs e lojas virtuais.
            button.cta
                span Saiba mais
                svg(width="15px" height="10px" viewBox="0 0 13 10")
                    path(d="M1,5 L11,5")
                    polyline(points="8 1 12 5 8 9")
        .card
            img(src="./assets/features/icon2.png" alt="Ajustes e otimização de performance")
            h3 Ajustes e otimização de performance
            p Melhoria das métricas de performance do seu site.
            button.cta
                span Saiba mais
                svg(width="15px" height="10px" viewBox="0 0 13 10")
                    path(d="M1,5 L11,5")
                    polyline(points="8 1 12 5 8 9")
        .card
            img(src="./assets/features/icon3.png" alt="Otimização para motores de busca")
            h3 Otimização para motores de busca
            p
                | SEO e conteúdo otimizados para melhores resultados nos motores de busca.
            button.cta
                span Saiba mais
                svg(width="15px" height="10px" viewBox="0 0 13 10")
                    path(d="M1,5 L11,5")
                    polyline(points="8 1 12 5 8 9")
