footer
    .footer-content
        img(src="./assets/logo.svg" alt="Footer KingWeb" width="100")
        p
            | © 2024 - KingWeb. Todos os direitos reservados - CNPJ:
            | 27.608.361/0001-71 | Desenvolvido por Renato Khael