header
    nav
        img(src="./assets/logo.svg" alt="Logo KingWeb" width="150")
        div.menu
            ul
                li
                    a(href="#features") O que fazemos
                li
                    a(href="#projects") Projetos
                li
                    a(href="#clients") Clientes
                li
                    a(href="#contact") Contato
        div.contact
            img(src="./assets/icons/whatsapp.svg" alt="WhatsApp" width="26")
            span.phone (11) 98972-5290
