section.hero-section
    .hero-content
        h1.title-content
            span Criação de sites
            | , landing pages e lojas virtuais
        p
            | Temos a melhor solução para pequenos e médios empreendedores com um ótimo custo-benefício. Venha conferir!
        a(href="https://api.whatsapp.com/send?phone=5511989725290&text=Contato%20via%20site.")
            button.btn-primary Solicite um orçamento grátis
    img.banner-image(src="./assets/hero/banner-img.png" alt="Imagem de banner representando criação de sites")
