section#projects.portfolio-section
    .portfolio-content
        h2.title-content
            | Projetos 
            span recentes
            |  que nos orgulhamos
        p Conheça alguns projetos recentes do nosso portfólio.
        .portfolio-images
            .portfolio-item
                a(href="https://listacar.com.br" target="_blank")
                    img(src="./assets/portfolio/listacar.png" alt="Site Listacar")
                    .overlay
                        button.btn-primary Acessar Site
            .portfolio-item
                a(href="https://spify.app" target="_blank")
                    img(src="./assets/portfolio/spify.png" alt="Site Spify")
                    .overlay
                        button.btn-primary Acessar Site
            .portfolio-item
                a(href="https://voorstudio.com.br" target="_blank")
                    img(src="./assets/portfolio/voorstudio.png" alt="Site Voorstudio")
                    .overlay
                        button.btn-primary Acessar Site
            .portfolio-item
                a(href="https://www.kitani.com.br" target="_blank")
                    img(src="./assets/portfolio/kitani.png" alt="Site Kitani")
                    .overlay
                        button.btn-primary Acessar Site
            .portfolio-item
                a(href="https://www.ourolux.com.br" target="_blank")
                    img(src="./assets/portfolio/ourolux.png" alt="Site Ourolux")
                    .overlay
                        button.btn-primary Acessar Site
            .portfolio-item
                a(href="https://www.superdigital.com.br" target="_blank")
                    img(src="./assets/portfolio/superdigital.png" alt="Site Superdigital")
                    .overlay
                        button.btn-primary Acessar Site
