footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 82px;
  background: #fff;

  p {
    font-size: 12px;
    font-weight: 700;
  }

  .footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}